{% extends 'base.html' %}
{% block title %}
    {{object.text|truncatechars:10}}
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 panel panel-default">
        <img src="{{object.photo.url}}" class="img-rounded img-responsive"><br>
        {{object.text}}
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 panel panel-default">
        Tags :
        {% load tagging_tags %}
        {% tags_for_object object as tags %}
        {% for tag in tags %}
        <a href="">{{ tag.name }}</a>
        {% endfor %}
    </div>

</div>


{% endblock %}