{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 panel panel-default">
            <img src="{{post.photo.url}}" class="img-rounded img-responsive"><br>
            <button type="button" class="btn btn-xs btn-info">{{ post.author.username }}</button>
            {{ post.text|linebreaksbr }}<br/>
            <p class="text-right">
                <a href="{% url 'post_detail' post.id %}" class="btn btn-xs btn-success">댓글달기</a>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    </article>
{% endfor %}

{% endblock %}
